body{
    background-color:#F2ECE4;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    margin: 0 auto;
    padding: 20px;
    min-width: 344px; max-width: 834px;
    min-height: 644px; max-height: 822px;
   
}

h1{
    background-color:orangered;
    color: #F2ECE4;
    text-align: center;
    font-size: 30px;
    border-radius:20px;
}

nav > a{
    text-align: center;
    color:#042959;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5;
    padding: 10px;
    margin: 20px;
    font-size: 20px;
   
}
nav> a:hover{
    background-color:rgb(255, 129, 84);
    border-radius: 10px;
    padding: 10px;
    border: 40px;}

img{
    margin: 0 auto;
    display: block;
    max-width: 344px;
    max-height: 250px;
    padding: 20px;
}
p{
    font-size: 20px;
}

 div> a{
    font-size: 20px;
    color:black ;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    background-color: aliceblue;
}
div >h2{
    text-align: center;
    border-radius: 20px;
}
div> p{
    border-radius: 10px;
}
h3{
background-color: #F2A488;
text-align: center;
font-size: 25px;
border-radius: 20px;
}
h4{
    font-size: 20px;
    background-color:#042959;
    border-radius: 40px;
    text-align: center;
    color:#ecc3b4;
}
h5{
    font-size: 18px;

}
iframe{
    margin: auto;
    display: block;
}
main.cards{
    display: flex;
    flex-direction:row;
    min-width: 834px;
    max-height: 644px;
}
.container{
    display: flex;
    justify-content: center;
    padding: 13px;

}
    
#card1{
    max-width: 610px;
    max-height: 267px;
    border-radius: 15px;
    margin-top: 10px;
    background-color:#ee5827;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.imagem{
    display: flex;
    justify-content: center;

}

.produtos{
max-width: 200px;
max-height: 580px;
}
.mar{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 20px;
}

.desc{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(253, 253, 253);
    font-weight: 300;
    text-align: center;
    font-size: 20px;

}

.bnt{
    padding: 10px 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    border: none;
    transition: 1s;
    background-color: #3b659c;
    color:#e8d6d0;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    font-size: 20px;
}
.bnt:hover{
transition: 1s;
background-color:#042959;
color: rgb(244, 229, 229);
}
.button{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 10px;
}

button >a {
color: aliceblue;
text-decoration: none;
}

#card2{
    max-width: 610px;
    max-height: 267px;
    border-radius: 15px;
    margin-top: 10px;
    background-color:#ee5827;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }
.produtos{
max-width: 200px;
max-height: 200px;
}

#card3{
    max-width: 610px;
    max-height: 267px;
    border-radius: 15px;
    margin-top: 10px;
    background-color: #ee5827;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

#card4{
    max-width: 610px;
    max-height: 267px;
    border-radius: 15px;
    margin-top: 10px;
    background-color:#ee5827;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

#card5{
    max-width: 610px;
    max-height: 267px;
    border-radius: 15px;
    margin-top: 10px;
    background-color: #ee5827;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

#card6{
    max-width: 610px;
    max-height: 267px;
    border-radius: 15px;
    margin-top: 10px;
    background-color:#ee5827;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}