body{
    background-color:#F2ECE4;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    margin: 0 auto;
    max-width: 834px;
    max-height: 644px;
   
   
}

h1{
    background-color:orangered;
    color: hsl(34, 35%, 92%);
    text-align: center;
    font-size: 30px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
}

h2{
    font-size: 25px;
    color: #F2ECE4;
}
h3{
background-color:#042959;
color: #F2ECE4;
text-align: center;
font-size: 25px;
}

h4{
    font-size: 20px;
    background-color:#042959;
    text-align: center;
    color:aliceblue
}

h5{
    font-size: 18px;
}
p{
    font-size: 20px;
}

nav > a{
    text-align: center;
    color:#042959;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5;
    padding: 8px;
    margin: 20px;
    font-size: 20px;
    max-width: 834px;
    max-height: 644px;

}
nav> a:hover{
    background-color:rgb(255, 129, 84);
    border-radius: 10px;
    padding: 10px;
    border: 40px;}

img{
    margin: 0 auto;
    display: block;
    max-width: 610px;
    max-height: 267px;
    padding: 20px;
}

 div> a{
    font-size: 20px;
    color:black ;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    background-color: aliceblue;
}
div >h2{
    text-align: center;
    border-radius: 20px;
}
div>h3{
    background-color:orangered;
    color: hsl(34, 35%, 92%);
    text-align: center;
    font-size: 20px;
}
iframe{
    margin: auto;
    display: block;
}
 footer{
    background-color:#f8f8f8;
    color: orangered;
 }
 main.cards{
text-align: center;
margin: 0 auto;
display: block; 
}