body{
    background-color: #F2ECE4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    max-width: 834px;
    max-height: 644px;
    margin: 0 auto;
    padding: 20px;
}    
h1{
    background-color:#042959 ;
    color: #F2ECE4;
    text-align: center;
    font-size: 30px;
    border-radius: 20px;
}
h2{
    background-color: #F2A488;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    border-radius: 20px;
}
img{
    max-width: 834px;
    max-height: 644px;
    margin: auto;
    display: block;
    padding: 20px;
    border-color: #F2A488;

}
nav > a{
    text-align: center;
    color:#042959;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5;
    padding: 10px;
    margin: 20px;
    font-size: 20px;
}
nav> a:hover{
    background-color:#F2A488 ;
    border-radius: 10px;
    padding: 10px;
    border: 40px;
}
p{
    font-size: 20px;
}