body{
    background-color: #F2ECE4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    max-width: 834px;
    max-height: 644px;
    margin: 0 auto;
    padding: 20px;
   
}

h1{
    background-color:#042959 ;
    color: #F2ECE4;
    text-align: center;
    font-size: 30px;
    border-radius: 20px;
}
nav > a{
    text-align: center;
    color:#042959;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5;
    padding: 10px;
    margin: 20px;
    font-size: 20px;
}
nav> a:hover{
    background-color:#F2A488 ;
    border-radius: 10px;
    padding: 10px;
    border: 40px;}

img{
    margin: 0 auto;
    display: block;
    max-width: 410px;
    max-height: 267px;
    padding: 20px;
}
p{
    font-size: 20px;
}

 div> a{
    font-size: 20px;
    color:black ;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    background-color: aliceblue;
}
div >h2{
    text-align: center;
    border-radius: 20px;
}
div> p{
    color:#e6232d;
    border-radius: 10px;
    background-color: #ecc3b4;
}
h3{
background-color: #F2A488;
text-align: center;
font-size: 25px;
border-radius: 20px;
}
h4{
    font-size: 20px;
    background-color:#042959;
    border-radius: 40px;
    text-align: center;
    color: #F2ECE4;
}
h5{
    font-size: 18px;

}
iframe{
    margin: auto;
    display: block;
}